body {
  font-family: Arial, sans-serif;
  margin: 15px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#titulo {
  text-align: center;
  color: rgba(255, 0, 0, 0.835);
  margin-bottom: 30px;
  align-items: center;
  text-shadow: #ff0000;
}

.regras-container {
  background-image: url('./img/regrasServ.png');
  background-size: contain; /* cobre toda a tela mantendo proporção */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat;
  width: 100vw; /* largura total da viewport */
  height: 100vh; /* altura total da viewport */
  color: rgba(240, 235, 232, 0.7); /* 0.7 = 70% opaco, 30% transparente */
  
}



.regras-container ol {
  list-style-position: inside;
  /* faz os números ficarem alinhados com o texto */
  text-align: center;
  /* mantém legível */
  display: inline-block;
  /* permite centralizar o bloco inteiro */
  margin: 0 auto;
  /* centraliza o bloco */
  padding: 0;
}

#titulo-regras {
  color: #2f00da;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;

}

#regras-h2 {
  color: #3700ff;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

#regras-h3 {
  color: #3700ff;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
#footersobre {
  background-color: rgba(0, 0, 0, 0.8);
  color: #888;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
}

.imagemsobre {
  text-align: center;
  margin-top: 20px;
  background-size: cover;
  /* cobre toda a tela */
  background-position: center;
  /* centraliza a imagem */
  background-repeat: no-repeat;
  max-width: 100vh;
  /* evita repetição */
}

#menu-toggle {
  display: none;
    /* Esconde o checkbox em todos os tamanhos de tela */
}
.menu-icon {
  display: none; /* <-- isso garante que o ícone não aparece no PC */
}
/* ==== MENU HAMBURGUER PARA CELULAR ==== */
@media (max-width: 799px) {

  /* Esconde o menu padrão */
  header nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px; /* começa fora da tela */
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    padding-top: 80px;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    font-size:5px;
  }

  /* Mostra ícone do menu */
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 28px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100;
  }

  /* Quando o menu é ativado */
.header-center #menu-toggle:checked ~ nav ul {
  right: 0;
}

  /* Esconde checkbox */
  #menu-toggle {
    display: none;
  }

  /* Links dentro do menu */
  nav ul a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.2s;
  }

  nav ul a:hover {
    color: #ff0000;
  }
}